* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(./Pics/e68894ee32518a23c5cf930efce8fa97Y29udGVudHNlYXJjaGFwaSwxNjI2Mjc4NTc0-2.60919808.avif);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form {
    height: auto;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    margin-top: 50px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.f-h h1 {
    color: #fff;
    margin-bottom: 20px;
}
.signup-form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-group {
    margin-bottom: 15px;
    width: 100%;
}
.input-group label {
    color: #fff;
    margin-bottom: 5px;
    display: block;
}
.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}
button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #28a745;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #218838;
}
